header {
  background-color: #F15B31;
  color: #ffffff;
  padding: 30px 20px;
}

h1 {
font-family: "Raleway", sans-serif;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
margin: 0;
text-transform: uppercase;
}



h2 {
font-family: "Raleway";
color: #0d2c40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
text-transform: uppercase;

}

p {
font-family: "Droid Serif";
line-height: 26px;
font-size: 18px;
}

body {
text-align: center;
margin: 0;
}



nav {
  background-color: #00a6b3;
  color: #ffffff;
  padding: 20px 0;
}
a {
  font-family: "Raleway";
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
}

main {
  text-align: center;
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px 0 8px;
}
